.tab.transform .button {
  position: relative;
  display: block;
  width: 17em;
  max-width: 100%;
  margin: 1em auto;
}
.tab.transform .button.load input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

[data-role=menu-tab] > .tab {
  padding: 1.5rem;
  font-size: 1.2em;
}

[data-role=menu-tab] h2 {
  margin-top: 1.5em;
}
[data-role=menu-tab] h2:first-child {
  margin-top: 0;
}

.tab.transform table {
  border: 1px solid #666;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2em;
}
.tab.transform tr:hover {
  background-color: #eee;
}
.tab.transform tr.header,
.tab.transform tr.header:hover {
  background-color: #7eb9f7;
  color: #fff;
}
.tab.transform th {
  font-weight: 400;
}
.tab.transform th,
.tab.transform td {
  text-align: center;
  min-width: 2em;
}
.tab.transform tr {
  border-bottom: 1px solid #eee;
}
.tab.transform tr.max {
  background-color: #fdc;
}
.tab.transform tr:first-child,
.tab.transform tr:last-child {
  border: 0;
}
.tab.transform td.number {
  text-align: right;
  width: 100%;
}
.tab.transform td.button {
  width: 4.5em;
  padding-left: .5em;
  margin: 0;
  text-align: right;
}

.tab.transform td i {
  margin: 0 .2em;
  width: 1.6em;
  cursor: pointer;
}
.tab.transform td i:hover {
  color: #3993f3;
}